.card-img {
	width: 160px;
	height: 240px;
	background: black;
	//opacity: 0.05;
}
#hero img {
	border: 3px solid yellow;
}
#selected img {
	border: 3px solid white;
}
#selected div {
	float: left;
}

body {
	background: #1F1D1B;
	color: white;
	font-family: 'Garamond', 'Georgia', serif;
}

h3 {
	font-size: 30px;
	font-weight: normal;
	padding: 0;
	margin: 0;
	//opacity: 0.05;
}

.card-selected {
	text-align: center;
}

a {
	color: gray;
	text-decoration: none;
}
